
.register-bg {
  background: url(https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_647,q_75,w_1000/http://res.cloudinary.com/simpleview/image/upload/v1497628527/clients/austin/Franklin_BBQ_Credit_Eric_Ellis_eca2ad3f-b8a9-45fe-ad91-579c73525147.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
