.registration {
  background-image: url("https://cdn.vox-cdn.com/thumbor/XYint0NK9ON1vRHk_R8VfHbbr-k=/0x0:2048x1638/2070x1164/filters:focal(861x656:1187x982):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/67357126/2020.08.16___Matt_Horn_BBQ_031.0.jpg");
}

.card-body {
  background-color:rgb(105, 10, 10);
}

form {
  background-color: rgb(245, 228, 206);
}

button {
  background-color: rgb(105, 10, 10);
}
