
#rightCol {
  position: relative;
}
#restDesc {
  margin-top: 15px;
}



.background {
  background: url("https://media.timeout.com/images/105413472/1372/772/image.jpg")
    no-repeat center center fixed;
  background-size: cover;
  /* width:1139px;
  height:800px; */

}
#bg {

  height: 668px;
}
#tabla {

border:solid black;
margin-top:150px;
height:75px;
}
tr{
  background-color: white;
}
h2{
  color: white;
}
h5{
  color: white;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 10px; /* Remove padding */
  margin: 0; /* Remove margins */
  position: relative;
  display: inline;
  float: left;
  left: 50%;
}

#searchBarWrap{
  display:inline-flex;
}


#searchBar{
  border:#BA4A00 solid;
  border-width: .2em;
  border-radius: .7em 0 0 .7em;
  padding: .2em .2em .2em .5em;
  width: 225px;
}

#searchBtn{
  border:#BA4A00 solid;
  border-width: .2em;
  border-radius: 0 .7em .7em 0;
  background-color: #BA4A00;
  color:white;
  font-weight:bold;
  padding-bottom: .2em;

}

