<div class= "background">
  <div class="container">

<!-- <h2>Restaurant Search</h2> -->
<div>
  <div class="row">
      <div ngbDropdown class="dropdown show">
          <h5><label for="state" class="col-sm-2 control-label"></label></h5>
          <div class="col-sm-10">
            <select [(ngModel)]="selectedAd" class="form-control" id="state" name="state">
              <option value="">N/A</option>
              <option value="AK">Alaska</option>
              <option value="AL">Alabama</option>
              <option value="AR">Arkansas</option>
              <option value="AZ">Arizona</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DC">District of Columbia</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="IA">Iowa</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="MA">Massachusetts</option>
              <option value="MD">Maryland</option>
              <option value="ME">Maine</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MO">Missouri</option>
              <option value="MS">Mississippi</option>
              <option value="MT">Montana</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="NE">Nebraska</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NV">Nevada</option>
              <option value="NY">New York</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="PR">Puerto Rico</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VA">Virginia</option>
              <option value="VT">Vermont</option>
              <option value="WA">Washington</option>
              <option value="WI">Wisconsin</option>
              <option value="WV">West Virginia</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          </div>
          <div ngbDropdown class="dropdown show">
            <h5><label for="searchType" class="col-sm-2 control-label"></label></h5>
            <div class="col-sm-15">
              <select [(ngModel)]="searchType"class="form-control" name="searchType">
                <option value="state">State</option>
                <option value="style">Style</option>
                <option value="meat type">Meat Type</option>
                <option value="main dish">Main Dish</option>
                <option value="name">Name</option>
                <option value="side dish">Side Dish</option>
                </select>
              </div>
        </div>
      </div>
        <input height="20"type="text"[(ngModel)]="searchTerm"placeholder="Search Term" >
         <button (click)='search()'>Search</button>
         <div *ngFor="let Restaurant of restaurants">
         <p *ngIf="Restaurant.enabled === false">{{Restaurant.name}}</p>        </div>
        </div>
        <td *ngIf="searchTerm === null">none found</td>
      <!-- <div *ngIf="!restaurants">
        <p>No results found</p>
      </div> -->
         <!-- <div *ngFor = "let Restaurant of restaurants"> -->
          <div class="row" id="redak1">
          <div class="col-md-offset-3 col-md-6" id="bg">
          <div class="table-responsive">
            <!-- <h2>Search Result</h2> -->
              <table class="table table-bordered" id="tabla">
         <!-- <table class="table"> -->
           <!-- <thead class="thead-dark">
             <tr>
               <th scope="col">Name</th>
               <th scope="col">Logo</th>
              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor = "let Restaurant of restaurants">
           <td><a href="http://localhost:4210/#/info/{{Restaurant.id}}">{{Restaurant.name}}</a></td>
          <td> <img [src]="Restaurant.logo" width="50" height="50"></td>

        </tr>
        </tbody>
           </table>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           </div>
           </div>
          </div>
          </div>
          </div>
          <!-- <div *ngIf="selected">
           <a href="http://localhost:4210/#/info/selected.id"></a>
         </div> -->

         <!-- <div *ngIf="! selected">
           <br>
           <br>
         <h2>Search Result</h2>
         <table class ="table table-responsive table-hover">
           <thead>
             <tr>
               <th>Id</th>
               <th>Name</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let Restaurant of restaurants" (click)="selected = Restaurant">
               <td>{{Restaurant.id}}</td>
               <td>{{Restaurant.name}}</td>
             </tr>
           </tbody>
         </table>
        </div> -->
