/*
#rightCol {
  position: relative;
}
#restDesc {
  margin-top: 15px;
} */



.background {

  background: url("https://media.timeout.com/images/105413472/1372/772/image.jpg")
    no-repeat center center fixed;
  background-size: cover;


  /* width:1139px;
  height:800px; */

}
/* #bg {

  height: 668px;
} */
#tabla {

/* border:solid black; */
/* margin-top:px; */
height:75px;
}
tr{
  background-color: white;
  opacity: 0.7 !important;
}
h2{
  color: white;
}
h5{
  color: white;
}
/* .form-inline{
  padding: 10px;
} */
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0px; /* Remove padding */
  margin: 0; /* Remove margins */
  /* position: relative; */
  display: inline;


}
.search{
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;

}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 20vh;
  /* font-size: xx-large; */

}

.point {
  font-size: 60pt;
}

.blue {
color: blue;
}

.red {
  color: red;

}

.yellow {
  color: yellow;

}

.green {
  color: green

}
#searchBar{
  border:#BA4A00 solid;
  border-width: .2em;
  border-radius: .7em 0 0 .7em;
  padding: .2em .2em .2em .5em;
  width: 225px;
}

#searchBtn{
  border:#BA4A00 solid;
  border-width: .2em;
  border-radius: 0 .7em .7em 0;
  background-color: #BA4A00;
  color:white;
  font-weight:bold;
  padding-bottom: .2em;

}

input {
  height: 40px;
}

.btn{
  /* padding: bottom 15px; */
  margin-bottom: 4px;
  height:37px;
}

.text {
  margin-left: 1px;
  margin-top: 5px;
  border: none;
  height: 37px;
}

.table-center {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 20vh;

}

