<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black">
  <a class="navbar-brand" href="/home">
 <img src="assets/images/BBQPig.jpg" height ="60" width ="60" alt="" class ="img-thumbnail">

</a>
  <a class="navbar-brand" href="/home"></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse container-fluid" id="navbarColor01">
   <div class="nav navbar-nav navbar-left">
   <ul class="no-bullets" >
     <li *ngIf="! loggedIn()">
       <app-login></app-login>
     </li>
   </ul>

   <ul class="no-bullets" style="float: right;">
    <li *ngIf="loggedIn()">
      <a class="btn btn-light" style ="width: 140px"[routerLink]="['/userProfile']">User Profile</a>
    </li>
  </ul>
   <ul class="no-bullets" style="float: right;">
    <li *ngIf="loggedIn()">
      <a class="btn btn-light" style ="width: 140px"[routerLink]="['/addRestaurant']">Add Restaurant</a>
    </li>
  </ul>
  <ul class="no-bullets" style="float: right;">
    <li *ngIf="loggedIn()">
       <app-logout></app-logout>
     </li>
   </ul>

   </div>
 </div>
 </nav>








