ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 10px; /* Remove padding */
  margin: 0; /* Remove margins */
  position: relative;
  display: inline;
  float: left;
}
.point {
  font-size: 60pt;

}

.blue {
color: blue;
}

.red {
  color: red;

}

.yellow {
  color: yellow;

}

.green {
  color: green

}

/* #stats li
{
  list-style-type: none;
  padding-right: 20px;
} */
