/* .jumbotron-fluid {
  text-align: center;
  vertical-align: text-bottom;
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  border-style: solid;
  background-image: url("https://i8.amplience.net/i/traeger/3-2-1-baby-back-ribs?w=500&sm=aspect&aspect=5:3&scaleFit=poi&$poi2$&fmt=webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titleJumbo {
  font-size: 115px;
  font-style: italic;
  color: rgb(233, 228, 224);
  font-weight: bold;
  text-shadow: rgb(7, 5, 0) 3px 3px;
} */
.bg {
  background: url("https://cdn.vox-cdn.com/thumbor/uO4ohGK0yLqXvRAtvu4fiZJ1-G0=/0x0:2048x1367/1200x900/filters:focal(861x520:1187x846):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/62256847/10847519_736732843109711_8431590107408228396_o.0.0.jpg")
    no-repeat center center fixed;
  background-size: cover;

}
