<br>
<br>
<br>
<div class="jumbotron-fluid">
  <h1 class="titleJumbo" >BBQueggle</h1>
</div>

<!-- <div>
    <input type="text" name="searchTerm" placeholder="Search Term">
    <button class="btn btn-outline-info my-2 my-sm-0"(click)='search()'>submit</button>
 </div>> -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores similique a, explicabo velit, provident magnam eligendi repellendus exercitationem unde laudantium autem modi voluptates rerum perferendis molestiae maxime praesentium pariatur iste?</p>
<app-restaurant-list></app-restaurant-list>
