<div class="row">

  <div class="col">
    <div class="row">
      <div class="col">
        <img [src]="restaurant.logo" />
      </div>
      <div class="col">
        <h1>{{restaurant.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col"><p>{{restaurant.address.street}}<br>{{restaurant.address.city}}, {{restaurant.address.state}}<br>{{restaurant.address.zip}}</p></div>
    </div>
    <div class="row">
      <div class="col"><p>Phone: {{restaurant.phoneNumber}}</p></div>
    </div>
    <div class="row">
      <div class="col">
       <p>Website: <a href="{{restaurant.website}}" target="_blank">{{restaurant.website}}</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col text-justify"><p>{{restaurant.hours}}</p></div>
    </div>
    <div class="row">
      <div class="col">Dine In Available? <span *ngIf="restaurant.dineIn === true">YES</span><span *ngIf="restaurant.dineIn === false">NO</span>          </div>
    </div>
  </div>




  <div class="col">

    <div class="row">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink (click)="selectedTab='about'">ABOUT</a>
        <ng-template ngbNavContent></ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="selectedTab='map'">MAP</a>
        <ng-template ngbNavContent></ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="selectedTab='reviews'">REVIEWS</a>
        <ng-template ngbNavContent></ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>


    <div class="row">

      <div class="col" *ngIf="selectedTab === 'reviews'">
        <app-reviews></app-reviews>
      </div>

      <div class="col" *ngIf="selectedTab === 'about'">
        <div class="row">
          <div class="col"><p>{{restaurant.description}}</p></div>
        </div>
        <div class="row">
          <div class="col">
            <p>Main Dishes:</p>
            <ul>
            <li *ngFor="let mainDish of restaurant.mainDishes">{{mainDish.name}}</li>
            </ul>
          </div>
          <div class="col">
            <p>Side Dishes:</p>
            <ul>
            <li *ngFor="let sideDish of restaurant.sideDishes">{{sideDish.name}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="selectedTab === 'map'">
        PUT MAP HERE
      </div>

    </div>
  </div>

</div>
