
<div class="container">

  <div class="row">
      <h1 class="col text-center">ADMIN PAGE</h1>
  </div>

  <div class="row">

  <div id="leftCol" class="col">

  <h2>LEFT COLUMN</h2>

  <div class="row">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">

      <li ngbNavItem>
        <a ngbNavLink (click)="selectedTab='users'">USERS</a>
        <ng-template ngbNavContent></ng-template>
        <div *ngIf="selectedTab==='users'">
          <p *ngFor="let user of users"><span (click)="selectedUser = user">{{user.id}} {{user.firstName}}  {{user.lastName}}</span></p>
        </div>

      </li>

      <li ngbNavItem>
        <a ngbNavLink (click)="selectedTab='restaurants'">RESTAURANTS</a>
        <ng-template ngbNavContent></ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="selectedTab='reserved'">RESERVED</a>
        <ng-template ngbNavContent></ng-template>

      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>

  </div>


  <div id="rightCol" class="col">
    <h2>RIGHT COLUMN</h2>

    <div class="row">

      <div class="col" *ngIf="selectedTab === 'users' && selectedUser">
        <h2>USER TAB</h2>
        <p>{{selectedUser.username}}</p>
        <p>{{selectedUser.firstName}}</p>
        <p>{{selectedUser.lastName}}</p>
        Enabled<input type="checkbox" [(ngModel)]="selectedUser.enabled" (click)="enableUser()">
      </div>

      <div class="col" *ngIf="selectedTab === 'restaurants'">
        <div class="row">
          <h2>RESTAURANTS TAB</h2>
        </div>
      </div>

      <div class="col" *ngIf="selectedTab === 'reserved'">
        <h2>RESERVED</h2>
      </div>

    </div>
  </div>

</div>
</div>
