<!-- <div class="row">
  <div class="col">
  <h1>REVIEWS FOR <span>{{restaurant.name}}</span></h1>
  </div>
</div> -->

<div class="row" *ngIf="add===false && edit===false">
  <div class="col">
    <h4 class="text-center">Average Rating: <span>{{score | number: '1.1-2'}}</span> / 5.0</h4>
  </div>
</div>

<div class="row" *ngIf="edit === false && add===false">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Rating</th>
        <th scope="col">User</th>
        <th scope="col">Review</th>
      </tr>
    </thead>
    <tbody *ngFor="let review of reviews">
      <tr>
       <td>{{review.reviewDate}}</td>
       <td>{{review.reviewScore}}/5.0</td>
       <td>{{review.user.firstName}}</td>
       <td class="text-justify">{{review.review}}
        <div><button id="updateButton" *ngIf="review.user.id === userId && edit === false" (click)="updatedReview = review; edit = true">UPDATE</button>
        <button id="deleteButton" *ngIf="review.user.id === userId && edit === false" (click)="deleteReview(restaurantId, review.id)">DELETE</button></div>
      </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


<button *ngIf="add === false && edit === false" (click)="add = true">Add Review</button>
<div *ngIf="canEdit === true">
<div class="row" *ngIf="edit === false && add === true">
  <div class="col">
    <h4 class="text-center">ADD REVIEW</h4>
  </div>
</div>
</div>

<div class="row" *ngIf="edit === false && add === true">
  <div class="col">
    <form id="addReview">
       Score:<input type="number" min="1" max="5" name="reviewScore" step=".5" [(ngModel)]="newReview.reviewScore"><br>
       <textarea rows="10" cols="40" name="review" placeholder="Write Review Here" [(ngModel)]="newReview.review"></textarea><br>
       <button id="add" (click)="addReview(newReview, restaurant.id, userId)">Submit</button>
       <button id="cancel" (click)="clearForm()">Cancel</button>
      </form>
  </div>
</div>

<div class="row" *ngIf="edit === true">
  <div class="col">
    <h4 class="text-center">UPDATE REVIEW</h4>
  </div>
</div>

<div class="row" *ngIf="edit === true">
  <div class="col">
    <form id="updateReview">
       Score:<input type="number" min="1" max="5" name="reviewScore" step=".5" [(ngModel)]="updatedReview.reviewScore"><br>
       <textarea rows="10" cols="40" name="review" placeholder="Write Review Here" [(ngModel)]="updatedReview.review"></textarea><br>
       <button id="add" (click)="updateReview(updatedReview, restaurant.id, updatedReview.id)">Submit</button>
       <button id="cancel" (click)="clearForm()">Cancel</button>
      </form>
  </div>
</div>
