<div class="row">
  <div class="col">
  <h1>REVIEWS FOR <span>{{restaurant.name}}</span></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Review Average: <span>{{score | number: '1.1-2'}}</span> / 5</h3>
  </div>
</div>

<div class="row" *ngFor="let review of reviews">
    <p>{{review.reviewDate}}</p>
    <p>{{review.reviewScore}}/5</p>
    <p>{{review.review}}</p>
    <p>by: {{review.user.firstName}}</p>
    <div *ngIf="review.user.id === userId">
      <button>UPDATE</button>
      <button>DELETE</button>
    </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <h1>ADD REVIEW</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form id="addReview">
       Score:<input type="number" min="1" max="5" name="reviewScore" step=".5" [(ngModel)]="newReview.reviewScore"><br>
       <textarea rows="10" cols="45" name="review" placeholder="Write Review Here" [(ngModel)]="newReview.review"></textarea><br>
       <button id="add" (click)="addReview(newReview, restaurant.id, userId)">Submit</button>
       <button id="cancel" (click)="clearForm()">Cancel</button>
      </form>
  </div>
</div>
